@font-face {
    font-family: "Pop";
    src: url(fonts/Pop.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    color: #e1e1ea;
    background-color: rgba(25, 26, 28, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Pop";
}
/* NAVIG BAR + SIDEBAR */
nav{
    background-color: #e1e1ea;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 40px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #17181a;
    transition: 333ms;
}
nav a:hover{
    background-color: rgba(25, 26, 28, 1);
    color: #e1e1ea;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 600px){
    .hideOnMobile{
        display: none
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/* BANNER */
.main-image {
    position: relative;
    background: url(images/Mazda3dorado.png) no-repeat center;
    background-size: cover;
    height: 300px;
    overflow: hidden;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e1e1ea;
    font-weight: 500;
    text-transform: uppercase;
}
.cen {
    margin: 20px;
    display: block;
    font-size: 19px;
}
.button {
    font-size: 14px;
    color: #17181a;
    padding: 8px 20px;
    background: #e1e1ea;
    text-decoration: none;
    border-radius: 0;
    transition: 333ms;
}
.button:hover {
    background-color: rgba(25, 26, 28, 1);
    color: #e1e1ea;
}
/* GRID+BOX */
.Grid {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-gap: 2em;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .Box {
            color: #e1e1ea;
            background-color: #17181a;
            padding: 1em;
            border: #72767c;
            border-width: 1px;
            border-style: solid;
            border-radius: 0em;
            box-shadow: 0px 0px 10px rgba(23, 24, 26, 0.25);
        }


}
/* SLIDESHOW */
.slider {
    display: grid;
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track {
    display: flex;
    width: calc(250px *16);
    animation: scroll 60s linear infinite;
}
.slide-track:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 8));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slides {
    width: 100%;
    transition: transform 1s;
}
.slides:hover {
    transform: translateZ(20px);
}
.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(25, 26, 28, 1) 0%,
    rgba(25, 26, 28, 0) 100%);
    content:'';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}