*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #17181a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Pop";
}

/* NAVIG BAR + SIDEBAR */
nav{
    background-color: #e1e1ea;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 40px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #17181a;
    transition: 333ms;
}
nav a:hover{
    background-color: #17181a;
    color: #e1e1ea;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 600px){
    .hideOnMobile{
        display: none
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* BANNER */
.main-image {
    position: relative;
    background: url(images/Mazda3dorado.png) no-repeat center;
    background-size: cover;
    height: 300px;
    overflow: hidden;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e1e1ea;
    font-weight: 700;
    text-transform: uppercase;
}
.container h1 {
    margin: 0;
    font-size: 66px;
}
.container h1 span {
    border: 6px solid white;
    padding: 6px 14px;
    display: inline-block;
}
.cen {
    margin: 20px;
    display: block;
    font-size: 22px;
}
.button {
    color: #17181a;
    padding: 10px 24px;
    background: #e1e1ea;
    text-decoration: none;
    border-radius: 0;
    transition: 333ms;
}
.button:hover {
    background-color: #17181a;
    color: #e1e1ea;
}
@font-face {
    font-family: "Pop";
    src: url(fonts/Pop.ttf);
}